[submodule "cborgreact/src/main/js/core"]
	path = cborgreact/src/main/js/core
	url = ssh://cborghome.ddns.net/opt/gitcborg/toasthub-core-react.git
[submodule "cborgreact/src/main/js/coreWeb"]
	path = cborgreact/src/main/js/coreWeb
	url = ssh://cborghome.ddns.net/opt/gitcborg/toasthub-core-reactweb.git
