[submodule "cborgreact/src/main/js/core"]
	path = cborgreact/src/main/js/core
	url = ssh://cborghome.ddns.net/opt/gitcborg/toasthub-core-react.git
[submodule "cborgreact/src/main/js/coreView"]
	path = cborgreact/src/main/js/coreView
	url = ssh://cborghome.ddns.net/opt/gitcborg/toasthub-core-reactweb.git
[submodule "cborgreact/src/main/js/admin"]
	path = cborgreact/src/main/js/admin
	url = ssh://cborghome.ddns.net/opt/gitcborg/toasthub-admin-react.git
[submodule "cborgreact/src/main/js/adminView"]
	path = cborgreact/src/main/js/adminView
	url = ssh://cborghome.ddns.net/opt/gitcborg/toasthub-admin-reactweb.git
[submodule "cborgreact/src/main/js/systemView"]
	path = cborgreact/src/main/js/systemView
	url = ssh://cborghome.ddns.net/opt/gitcborg/toasthub-system-reactweb.git
